.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 50px;
  .bottomNav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 18px 4px #b5b5b5;
  }
}
