$borderBottomColor: #ececec;
$crosswisePadding: 15px;
$lengthwaysPadding: 10px;
$recommendStyleTitleFontSize: 17px;
$recommendStyleTipFontSize: 12px;
$tintFontColor: #918f90;

.inputBoxMB {
  margin-bottom: 20px;
}
.searchBar {
  padding: 0 $crosswisePadding;
  .searchBox {
    background: #f6f4f5;
    border-radius: 6px;
    color: #595959;
    height: 36px;
    line-height: 36px;
    text-align: left;
    padding-left: 6px;
  }
}

.titleBar {
  position: relative;
  overflow: hidden;
  height: 40px;
  padding: 0 $crosswisePadding;
  span, a {
    position: absolute;
    bottom: 0;
  }
  >span{
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    float: left;
  }
  >a {
    right: 10px;
    display: inline-block;
    height: 20px;
    color: #454952;
    text-decoration: none;
    font-size: 13px;
  }
}

.recommend_style_one {
  padding:$lengthwaysPadding $crosswisePadding;
  border-bottom: 1px solid $borderBottomColor;
  > p {
    line-height: 25px;
    font-size: $recommendStyleTitleFontSize;
    font-weight: bold;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .tip {
    height: 30px;
    line-height: 30px;
    color: #9e9c9d;
    font-size: $recommendStyleTipFontSize;
    >span {
      display: inline-block;
      margin-left: 10px;
    }
    .commentNum {
      font-weight: bold;
    }
    .genre,.time {
      color: #c6c4c5;
    }
    .time {
      float: right;
    }
  }
}

.recommend_style_two {
  padding:$lengthwaysPadding $crosswisePadding;
  border-bottom: 1px solid $borderBottomColor;
  display: flex;
  .left{
    position: relative;
    flex: 4;
    > p {
      line-height: 25px;
      font-size: $recommendStyleTitleFontSize;
      font-weight: bold;
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .tip {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      line-height: 30px;
      color: #9e9c9d;
      font-size: $recommendStyleTipFontSize;
      >span {
        display: inline-block;
        margin-left: 10px;
      }
      .commentNum {
        font-weight: bold;
      }
      .genre,.time {
        color: #c6c4c5;
      }
      .time {
        float: right;
      }
    }
  }
  .right {
    flex: 2;
    margin-left: 1%;
    >img{
      width: 100%;
      height: 100%;
    }
    border-radius: 5px;
    overflow: hidden;
  }
}

.recommend_style_three {
  padding:$lengthwaysPadding $crosswisePadding;
  border-bottom: 1px solid $borderBottomColor;
  > p {
    line-height: 25px;
    font-size: $recommendStyleTitleFontSize;
    font-weight: bold;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .imgList {
    display: flex;
    .imgWrap {
      flex: 1;
      text-align: center;
      >img {
        border-radius: 5px;
        height: 85%;
        width: 95%;
      }
    }
  }
  .tip {
    height: 30px;
    line-height: 30px;
    color: #9e9c9d;
    font-size: $recommendStyleTipFontSize;
    >span {
      display: inline-block;
      margin-left: 10px;
    }
    .commentNum {
      font-weight: bold;
    }
    .genre,.time {
      color: #c6c4c5;
    }
    .time {
      float: right;
    }
  }
}

.storyList {
  margin: 20px 0;
  .swiper-container1 {
    padding-left: 20px;
    box-sizing: border-box;
    .swiper-slide {
      width: 38%;
      border-radius: 5px;
      overflow: hidden;
      font-family: "Microsoft YaHei UI Light";
      box-shadow: 1px 3px 14px -4px #b5b5b5;
      img{
        width: 100%;
        height: 50%;
      }
      .storyItem {
        height: 200px;
        padding-bottom: 6px;
        .storyTitle {
          font-weight: bold;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          padding: 0 6px;
          font-size: 15px;
        }
        .tip {
          font-size: 12px;
          color: #c6c4c5;
          padding: 0 6px;
          svg {
            margin-bottom: -6px;
            margin-right: 3px;
          }
          >span{
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.dynamicItem {
  margin: 0 $crosswisePadding;
  padding: 10px 0;
  border-bottom: 1px solid $borderBottomColor;
  .userInfo {
    position: relative;
    >img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      float: left;
      margin-right: 10px;
    }
    >p {
      margin: 0;
      font-size: 14px;
    }
    .releaseTime {
      color: $tintFontColor;
    }
    .operation {
      position: absolute;
      display: inline-block;
      height: 30px;
      width: 40px;
      text-align: center;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .imgList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    justify-items: center;
    >img {
      width: 32%;
      border-radius: 5px;
      height: 90px;
    }
  }
  .datum {
    overflow: hidden;
    span {
      font-size: 12px;
      color: #c6c4c5;
      padding: 0 6px;
      float: right;
      svg {
        margin-bottom: -6px;
        margin-right: 3px;
      }
      >span{
        margin-right: 8px;
      }
    }
  }
}